// styles.scss

.card { 

    position: relative;
    display:flex;
    min-height:100px;
    width:100%;
    max-width:400px;
    height:100%;
    flex-direction:column;
    overflow:hidden;
    border-radius:0.75rem;
    background-color: rgb(245, 238, 238);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    @media (min-width: 768px) {
        .md\:min-h-\[438px\] {
            min-height: 438px;
        }
    }
    padding:2rem;
    margin:1rem;
    


    &--image {
      border-radius:.75rem;
    }
  
    &--content {
      color:black;
      height:12rem;
      font-size:1rem;
      overflow: hidden;
    }
  }
  
        .card--title {
        margin:1rem;
      }
  
      .card--desc {
        max-height: 100px;
        overflow: hidden;
        font-size: 1rem;
        line-height: 1.5;
        text-overflow: ellipsis;
      }