@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $primary-color;
  background-image: radial-gradient(circle at center, #fb25c9, #273043 80%);

  color: $font-color;
}

html,
body {
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: darken(white, 30%);
    }
  }

  main {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  @media (max-width: $breakpoint-mobile) {
    html,
    body {
      min-height: 100%;
      max-height: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      flex-direction: column;
      overflow: auto;
    }

    .content {
      flex: 1;
    }

    #root {
      max-height: 100%;

      main {
        min-height: 100%;
        max-height: 100%;
      }
    }
  }
  button {
    @include box-shadow(0px, 2px, 5px, black);
  }
}
