$primary-color: #273043;
$secondary-color: #fb25c9;
$tertiary-color: #7fc29b;
$font-color: rgb(255, 255, 255);
$font-family: Arial, sans-serif;
$h1-font: "FancyFont", sans-serif;
$breakpoint-mobile: 600px;
$main-font: 2.5rem;
$navMobile-bg: white;
$navMobile-link: black;
