@use "../../styles/mixins";
@use "../../styles/variables" as *;

main {
  margin-top: 3vw;
  padding-left: 1%;

  @media (max-width: $breakpoint-mobile) {
    margin: 0;
    padding: 0;
  }
}

.darkHeader {
  background-color: #333333;
  color: #ffffff;
}
.dark {
  background-color: #333333;
  color: #ffffff;
}
