@use "../../styles/variables" as *;

.form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0px;

  input {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 2rem;
    border: none;
    display: flex;
    align-items: center;
    background-color: rgb(232, 240, 254) !important;
    padding-left: 10px;
    margin-right: 0px;
    &::placeholder {
      color: #ccc;
      padding-left: 10px;
    }
  }

  &:-internal-autofill-selected {
    background-color: transparent !important;
  }
  input:focus {
    outline: none;
  }
  button,
  .buttonClick {
    background: url("../../assets/magGlass.svg") no-repeat center;
    background-size: 26px 22px;
    width: 2rem;
    height: 2rem;
    padding-right: 2vw;
    border: none;
    box-shadow: none;
    border-radius: 50px;
    cursor:pointer;
  }
  .buttonClick {
    background-color: (rgb(232, 240, 254)) !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 10px;
    margin-left: 0;
  }

  button.buttonClick {
    border-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: light-dark(rgb(232, 240, 254)) !important;
  }
}

@media (max-width: $breakpoint-mobile) {
  form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    input {
      height: 2rem;
      width: 4rem;
      overflow: scroll;
    }
    button {
      border: none;

      padding-left: 1rem;
    }
  }
}
