// Header styles
@use "../../styles/variables" as *;
@use "../../styles/base";
@use "../../styles/mixins";
@font-face {
  font-family: "ScriptoFont";
  src: url("../../assets/scriptoFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  background-color: $secondary-color;
  background-image: radial-gradient(
    ellipse farthest-corner at top right,
    #fb25c9,
    #273043 95%
  );
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 20px;

  a {
    padding-left: 7px;
    font-family: "ScriptoFont", sans-serif;
    font-size: $main-font;
  }

  .mobileMenu {
    display: none;
  }

  .nav {
    margin-left: auto;
    .nav-list {
      display: flex;
      list-style: none;
      height: 100%;

      .nav-item {
        margin: 0 10px;
        .nav-link {
          border-radius: 5px;
          transition: background-color 0.3s;
          display: flex;
          align-items: center;
          height: 100%;
          font-size: 1.5rem;
          border-radius: 5px;
          text-align: end;
          vertical-align: bottom;
          margin: 0;
          padding: 0 10px;
        }
      }
    }
  }

  $breakpoint-mobile: 480px;

  @media (max-width: 600px) {
    justify-content: space-between;
    margin: 0;
    span {
      order: 2;
      padding-left: 1em;
    }

    .mobileMenu {
      display: flex;
      align-items: center;
      padding-left: 10px;
    }

    form {
      order: 3;
      width: 30%;
      display: flex;
      label {
        display: none;
      }
    }

    .nav {
      margin-left: 0px;

      .nav-list {
        display: none;
      }
    }
  }
}
