@use "../../styles/variables" as *;
@use "../../styles/mixins";

.dark {
  background-color: #333333;
  color: #ffffff;
}

.light {
  background-color: $secondary-color;
  background-image: radial-gradient(
    ellipse farthest-corner at top right,
    #fb25c9,
    #273043 95%
  );
}
footer {
  color: white;
  margin-top: 20px;
  margin-top: auto;

  .info,
  .legal {
    @include mixins.center();
    flex-direction: column;

    p,
    small {
      margin-bottom: 10px;
    }
  }
}
