@use "../../styles/variables" as *;

@font-face {
  font-family: "FancyFont";
  src: url("../../assets/fancy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.navMobile {
  position: absolute;
  background-color: rgba(15, 15, 15, 0.9);
  top: 80px;
  left: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 24px 0px;
  max-height: 100vh;

  .navMobileList {
    .navMobileitem {
      .navMobileLink {
        padding: 0.5rem;
        font-size: 1rem;

        h2 {
          font-weight: 100;
          padding-left: 5px;
        }
      }
    }
  }
}

.homePageHeader {
  font-family: $h1-font;
  padding-left: 1rem;
  font-size: $main-font;
  padding-top: 1%;
  color: white;

  @media (max-width: $breakpoint-mobile) {
    font-family: $h1-font;
    font-size: 10vw;
    padding-top: 5%;
  }
}
